bin
out
build
.idea
src/main/webapp/VAADIN/widgetsets
src/main/webapp/VAADIN/gwt-unitCache
src/main/webapp/VAADIN/themes/mytheme/addons.scss
src/main/webapp/VAADIN/themes/mytheme/styles.css
src/main/webapp/VAADIN/themes/mytheme/styles.css.gz
.designer
.gradle
.settings
.vscode
.classpath
.project
*.iml
Procfile
deploy.sh
gradle
gradlew*
db.conf
docker-compose.yml
